body {
    margin: 0px;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}
.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 10px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.5s ease-in-out;
}

.sidebar ul {
    list-style: none;
    padding: 20px;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 750px) {

    .menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        text-align: center;
    }

    .menu.active {
        display: flex;
    }

    .sidebar {
        left: -250px;
    }

    .sidebar.active {
        left: 0;
    }

    .hamburger-menu {
        display: block;
    }
    
    .close-button {
        background-color: #555;
        color: #fff;
        border: none;
        padding: 10px;
        cursor: pointer;
        width: 100%;
        text-align: left;
    }

    .close-button:hover {
        background-color: #333;
    }
}